/*------------------- css for Extra large devices (large desktops, 1200px and up)-------------------------------------*/

/* ----------- Header section start here--------------------*/
@media only screen and (max-width:1200px) {
    .header-navbar .logo p {
        color: rgb(0, 255, 21);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }

    /*--------------------------- header contents ---------------------------*/
    /* .header-content {
        position: absolute;
        height: 550px;
        width: 750px;
        top: 30%;
        left: 7%;
        margin: 10% 0%;

        text-align: center;

    } */

    .header-content h1 {
        font-size: 3em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.9em;

    }


    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1.09em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 1.06em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }

    /* ----------- gallery section start here--------------------*/

    .gallery-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

    }


}


/*--------------- -css for Large devices (desktops, 992px and up) --------------------------------*/

/* ----------- Header section start here--------------------*/
@media only screen and (max-width:992px) {
    .header-navbar .logo p {
        color: rgb(255, 64, 0);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }

    /*--------------------------- header contents ---------------------------*/
    .header-content h1 {
        font-size: 2.5em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.6em;
    }

    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1.02em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 1.02em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }

    .header-content button {
        font-size: 17px;
        padding: 8px 10px !important;
        min-width: 250px;
    }

    /* < !------------------------------------ about section start here----------------- ------------------->*/
    .about-list {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }


    .about-item img {
        width: 100%;
        height: 50vh;
        /* height: 300px;
        height: 350px; */
        border-radius: 120px 20px 120px 20px;
    }

    .about-content-right {
        width: 100%;
    }

    .about-content-right h3 {
        font-size: 1.3rem;
    }

    .about-content-right span {
        color: rgb(255, 167, 123);
    }

    .about-content-right p {
        font-size: 0.999rem;

    }

    /* --------------------------------------about number-bar-------------------------------------- */
    .about-number-list {
        display: grid;
        /* grid-template-columns: repeat(5,1fr); */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
    }

    /* ------------------------------------ course section start here----------------- ------------------- */
    .course-list {
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        /* display: flex; */
        flex-wrap: wrap;

    }


    /* < !------------------------------------ course section start here----------------- ------------------->*/
    .faculty-list {
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
        width: 80%;
        margin: auto;
        justify-content: space-evenly;
        margin-top: 3%;
        text-align: center;
    }

    /* < !------------------------------------ gallery section start here----------------- ------------------->*/
    .gallery-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        grid-gap: 10px;

    }

    /*------------------------------ how to apply section of About us Page  css start----------------------------*/
    .how-to-apply-section img {
        height: 150px;
        width: 450px;
    }
    .course-detail-items img {
        width: 100%;
        height: 22vh;
        border-radius: 10px;
        border: 1px solid black;
    
    }
}


/*--------------- -css for Medium devices (tablets, 768px and up) --------------------------------*/


/* ----------- Header section start here--------------------*/
@media only screen and (max-width:768px) {
    .header-navbar .logo p {
        color: rgb(30, 0, 255);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }



    /*--------------------------- header contents ---------------------------*/


    .header-content h1 {
        font-size: 2em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.4em;

    }


    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 0.855em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }


    .header-content button {
        font-size: 17px;
        padding: 8px 10px !important;
        min-width: 200px;
    }
}



/*--------------- -css for  Small devices (landscape phones, 576px and up) --------------------------------*/


/* ----------- Header section start here--------------------*/
@media only screen and (max-width:576px) {
    .header-navbar .logo p {
        color: rgb(255, 0, 153);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }

    /*--------------------------- header contents ---------------------------*/


    .header-content h1 {
        font-size: 1.3em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.054em;

    }


    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1.05em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 0.66em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }


    .header-content button {
        font-size: 17px;
        padding: 8px 10px !important;
        min-width: 150px;
    }


}



/*--------------- -css for more Small devices (landscape phones, 380px and up) --------------------------------*/


/* ----------- Header section start here--------------------*/
@media only screen and (max-width:380px) {}