/*------------------- css for Extra large devices (large desktops, 1200px and up)-------------------------------------*/

/* ----------- Header section start here--------------------*/
@media only screen and (max-width:1200px) {

    /*--------------------------- header contents ---------------------------*/


    .header-content h1 {
        font-size: 3em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.9em;

    }

    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 0.9em;
    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 1.06em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }

    .header-content button {
        font-size: 18px;
        padding: 7px 10px !important;
        min-width: 250px;

    }

    /* ----------- gallery section start here--------------------*/

    /* .gallery-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

    } */





}


/*--------------- -css for Large devices (desktops, 992px and up) --------------------------------*/
@media only screen and (max-width:992px) {

    /*--------------------------- header contents ---------------------------*/
    .menu-navbar {
        background: hsla(179, 100%, 84%, 0.785);
        padding: 5px;
    }

    .header-navbar .nav-links ul a {
        color: rgb(0, 0, 0) !important;
    }

    .nav-account a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        /* background-color: #080808; */
        border: 1px solid rgb(255, 167, 123);
        padding: 10px;
        border-radius: 30px;
        margin: 15px;
    }

    .nav-account a:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(255, 167, 123);
        transition: all 0.2s;
    }

    .header-navbar {
        display: flex;
        justify-content: space-between !important;
    }

    .header-content h1 {
        font-size: 2.5em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.6em;
    }

    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1.02em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 1.00em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }

    .header-content button {
        font-size: 17px;
        padding: 8px 10px !important;
        min-width: 250px;
    }

    /* < !------------------------------------ about section start here----------------- ------------------->*/

    /* --------------section heaader start here-------------- */

    .section-header {
        text-align: center;
        margin-top: 5%;
    }

    .section-header h2 {
        font-size: 1.2rem;

    }

    .section-header p {
        font-size: 0.777em;
    }


    .about-list {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .about-item img {
        width: 100%;
        height: 50;
        height: 70vh;
    }

    .about-content-right {
        width: 100%;
    }

    .about-content-right h3 {
        font-size: 1.3rem;
    }

    .about-content-right span {
        color: rgb(255, 167, 123);
    }

    .about-content-right p {
        font-size: 0.788rem;

    }

    /* --------------------------------------about number-bar-------------------------------------- */
    .about-number-list {
        display: grid;
        /* grid-template-columns: repeat(5,1fr); */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
    }

    /* ------------------------------------ course section start here----------------- ------------------- */
    /* .course-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    } */


    /* < !------------------------------------ course section start here----------------- ------------------->*/
    .faculty-list {
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
        grid-gap: 30px;
        width: 80%;
        margin: auto;
        justify-content: space-evenly;
        margin-top: 3%;
        text-align: center;
    }

    /*----------------------------header section  of Courses details page css start-------------------------------*/

    .course-detail-items img {
        height: 38vh;
    }
}



/*--------------- -css for Medium devices (tablets, 768px and up) --------------------------------*/

@media only screen and (max-width:768px) {


    /*--------------------------- header contents ---------------------------*/
    .header-content h1 {
        font-size: 2em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.4em;

    }


    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 0.855em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }


    .header-content button {
        font-size: 17px;
        padding: 8px 10px !important;
        min-width: 200px;
    }

    /* < !------------------------------------ about section start here----------------- ------------------->*/

    /* --------------section heaader start here-------------- */

    .section-header {
        text-align: center;
        margin-top: 5%;
    }

    .section-header h2 {
        font-size: 1rem;

    }

    .section-header p {
        font-size: 0.555em;
    }


    .about-item img {
        width: 100%;
        height: 60vh;
        border-radius: 10px;
    }

    /*----------------------------header section  of Courses details page css start-------------------------------*/
    .Course-details-page-header {
        height: 30vh;
    }

    .Course-details-page-text {
        position: absolute;
        top: 10%;
        left: 12%;
    }

    .Course-details-page-text h2 {
        font-size: 1.1rem;
    }

    .Course-details-page-text p a {
        font-size: 1.1rem;
    }

    .Course-details-page-text p {
        font-size: 1rem;
    }

    .course-detail-items img {
        height: 30vh;
    }

    .course-detail-items h3 {
        font-size: 1.4rem;
    }

    .course-detail-items p {
        font-size: 0.888rem;
    }

}

/*--------------- -css for  Small devices (landscape phones, 576px and up) --------------------------------*/
@media only screen and (max-width:576px) {

    /*--------------------------- header contents ---------------------------*/

    .header-content h1 {
        font-size: 1.3em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 1.054em;

    }


    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1.05em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 0.66em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }


    .header-content button {
        font-size: 17px;
        padding: 8px 10px !important;
        min-width: 150px;
    }


    /* < !------------------------------------ about section start here----------------- ------------------->*/

    /* --------------section heaader start here-------------- */


    .about-item img {
        height: 40vh;
    }

    .about-content-right {
        width: 100%;
    }

    .about-content-right h3 {
        font-size: 1rem;
    }

    .about-content-right span {
        color: rgb(255, 167, 123);
        font-size: 1rem;

    }

    .about-content-right p {
        font-size: 0.688rem;

    }

    .about-item button {
        /* background: #000; */
        font-size: 0.688rem;

    }



    /* < !------------------------------------ course section start here----------------- ------------------->*/


    .course-items img {
        height: 160px;
    }

    .course-items .course-text a h3 {
        font-size: 1.1rem;
    }

    .course-items .course-text p {
        font-size: 0.8rem;

    }


    .course-read-btn span {
        font-size: 0.9rem;
        padding: 3px;
    }

    .course-read-btn button {
        font-size: 0.8rem;
        padding: 3px 4px;
    }



    /* < !------------------------------------ faculty section start here----------------- ------------------->*/

    .faculty-item {
        padding: 0px 20px;
    }

    .faculty-item h3 {
        font-size: 1rem;
    }

    .faculty-item p {
        font-size: 0.8rem;
    }

    /*-------------------------------- Here the blog section is strat ------------------------------ */
    .blog-item img {
        width: 100%;
        height: 200px;
    }

    .Blog-text .bi {
        font-size: 18px;
        margin-top: 3%;
    }

    .Blog-text button {
        background-color: #fff;
        font-size: 14px;
        border-radius: 20px;
        /* padding: 10px 15px; */
        transition: all 0.2s;
        /* margin-top: 10px; */
    }


    /*-------------------------------- Here the Footer section is strat ------------------------------ */

    .Footer-container ul li {
        /* padding: 1px 2px; */
        font-size: 12px;
    }

    .Footer-container ul p {
        font-size: 0.777rem;
    }

    .social-acc-icon li {
        margin: 0px 3px;
        padding: 0px 3px;

    }

    .social-acc-icon a i {
        font-size: 20px;
    }

    .copywrite {
        /* padding-bottom: %; */
        font-size: 12px;
    }


    /*------------------------------ how to apply section of About us Page  css start----------------------------*/

    .how-to-apply-section img {
        height: 120px;
        /* width: 350px; */
    }

    /* -------------------------------- student swiper slider --------------------------------*/

    .swiper-slide {
        width: 250px;
    }

    .swiper-slide img {
        height: 200px;
    }

    .student-item h2 {
        font-size: 1.4rem;
    }

    .student-item .student-course {
        font-size: 0.77rem;

    }

    .student-item p {
        font-size: 0.777rem;
    }



    /*----------------------------header section  of Courses details page css start-------------------------------*/


    .Course-details-page-text {
        position: absolute;
        top: 10%;
        left: 8%;
    }

    .Course-details-page-text h2 {
        font-size: 1rem;
    }

    .Course-details-page-text p a {
        font-size: 0.777rem;
    }

    .Course-details-page-text p {
        font-size: 0.777rem;
    }

    .course-detail-items img {
        height: 22vh;
    }

    .course-detail-items h3 {
        font-size: 1.2rem;
    }

    .course-detail-items p {
        font-size: 0.566rem;
    }

    .course-overview strong {
        font-size: 1rem;

    }

    .course-overview p {
        font-size: 0.656rem;
    }

    .course-overview button {
        font-size: 0.767rem;
        padding: 5px 5px;
    }

}


/*--------------- -css for more Small devices (landscape phones, 380px and up) --------------------------------*/


/* ----------- Header section start here--------------------*/
@media only screen and (max-width:390px) {

    /*--------------------------- header contents ---------------------------*/


    .header-content h1 {
        font-size: 1em;
        font-weight: 800;
    }

    .header-content h2 {
        color: rgb(102, 102, 102);
        font-size: 0.700em;

    }


    .header-content .span {
        color: rgb(255, 167, 123);
        font-size: 1em;

    }

    .header-content p {
        color: rgb(111, 111, 111);
        font-size: 0.606em;
        margin-top: 2%;
        /* width: 580px; */
        /* text-align: center; */
    }


    .header-content button {
        font-size: 12px;
        padding: 6px 8px !important;
        min-width: 100px;
    }


    /* < !------------------------------------ about section start here----------------- ------------------->*/

    /* --------------section heaader start here-------------- */
    .about-item img {
        height: 40vh;
    }

    .section-header {
        text-align: center;
        margin-top: 5%;
    }

    .section-header h2 {
        font-size: 0.777rem;

    }

    .section-header p {
        font-size: 0.444em;
    }


     /*----------------------------header section  of Courses details page css start-------------------------------*/
     .Course-details-page-header {
        height: 20vh;
    }

     .Course-details-page-text {
        position: absolute;
        top: 5%;
        left: 8%;
    }

    .Course-details-page-text h2 {
        font-size: 0.888rem;
    }

    .Course-details-page-text p a {
        font-size: 0.555rem;
    }

    .Course-details-page-text p {
        font-size: 0.555rem;
    }

    .course-detail-items img {
        height: 20vh;
    }

    .course-detail-items h3 {
        font-size: 1rem;
    }

    .course-detail-items p {
        font-size: 0.444rem;
    }

    .course-overview strong {
        font-size: 0.888rem;

    }

    .course-overview p {
        font-size: 0.644rem;
    }

    .course-overview button {
        font-size: 0.667rem;
        padding: 4px 4px;
    }


        /*-------------------------------- Here the Footer section is strat ------------------------------ */

        .Footer-container ul li {
            /* padding: 1px 2px; */
            font-size: 10px;
        }
    
        .Footer-container ul p {
            font-size: 0.644rem;
        }
    
        .social-acc-icon li {
            margin: 0px 3px;
            padding: 0px 3px;
    
        }
    
        .social-acc-icon a i {
            font-size: 18px;
        }
    
        .copywrite {
            /* padding-bottom: %; */
            font-size: 10px;
        }

}
