/*------------------- css for Extra large devices (large desktops, 1200px and up)-------------------------------------*/

/* ----------- Header section start here--------------------*/
@media only screen and (max-width:1200px) {
    .header-navbar .logo p {
        color: rgb(0, 255, 21);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }


}


/*--------------- -css for Large devices (desktops, 992px and up) --------------------------------*/

/* ----------- Header section start here--------------------*/
@media only screen and (max-width:992px) {
    .header-navbar .logo p {
        color: rgb(255, 64, 0);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }


}


/*--------------- -css for Medium devices (tablets, 768px and up) --------------------------------*/


/* ----------- Header section start here--------------------*/
@media only screen and (max-width:768px) {
    .header-navbar .logo p {
        color: rgb(30, 0, 255);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }


}



/*--------------- -css for  Small devices (landscape phones, 576px and up) --------------------------------*/


/* ----------- Header section start here--------------------*/
@media only screen and (max-width:576px) {
    .header-navbar .logo p {
        color: rgb(255, 0, 153);
        font-size: 2.2em;
        font-weight: 700;
        /* background: #000; */
    }


}